.input-form input, .input-form select {
    border: 1px solid #000;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}

.input-form input:focus, .input-form select:focus {
    border: 1px solid #000;
    box-shadow: unset;
}