.photo-card {
    height: 330px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.767) 0%, rgba(0, 16, 17, 0.89) 100%);
}

.destiny {
    background-image: url('../../assets/images/destiny_ajakaiye.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.segun {
    background-image: url('../../assets/images/segun.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ope {
    background-image: url('../../assets/images/destiny_ajakaiye.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.daniel {
    background-image: url('../../assets/images/daniel.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-card .cover {
    background-color: #000000a1;
    height: 100%;
    position: relative;
}

.photo-card .cover .content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content {
    padding: 20px;
}

.content h4 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content p {
    color: rgb(179, 177, 177);
    font-size: 14px !important;
    margin-bottom: 0;
    text-align: left !important;
}

.content .social-link {
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
}