
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

h1, h2, span, p, h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif !important;
}